.gds-2-5 {
	width: 839px;
	height: 715px;
	opacity: 41%
}
.rectangle-11 {
	width: 841px;
	height: 719px;
	padding: 8px 8px 8px 8px;
	background: linear-gradient(to right, rgb(254, 254, 254) 0%, rgb(255, 255, 255) 0%, rgb(148, 154, 233) 0%, rgb(148, 170, 232) 2%, rgb(149, 233, 191) 58%, rgb(207, 149, 255) 98%, rgb(207, 149, 255) 99.26255841121495%, rgb(204, 152, 252) 100%, rgb(180, 230, 254) 100%);
	border-color: #ffffff;
	border-width: 1px;
	border-style: solid;
}
.header-2 {
	width: 721px;
	height: 132px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	color: #120639;
	font-family: "Secular One";
	font-weight: bold;
	font-size: 100px;
	line-height: 1.2;
	text-align: center;
}
.button-2 {
	width: 121px;
	height: 37px;
	padding: 0px 10px 0px 10px;
	background: #29323d;
	color: #ffffff;
	border-color: #29323d;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px 2px 2px 2px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 19px;
	text-align: center;
}
.rectangle-12 {
	width: 840px;
	height: 252px;
	padding: 8px 8px 8px 8px;
	opacity: 32%
	background: linear-gradient(to right, rgb(68, 68, 68) 0%, rgb(163, 163, 110) 0%, rgb(255, 252, 210) 74%, rgb(248, 255, 195) 97%, rgb(236, 236, 236) 98.79526869158879%, rgb(237, 237, 237) 99.53271028037383%, rgba(178, 178, 178, 1) 99.53271028037383%);
	border-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-radius: 14px 14px 14px 14px;
}
.about-us {
	width: 332px;
	height: 30px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
	color: #b4e6fe;
	font-family: "Open Sans";
	font-weight: 800;
	font-size: 25px;
	line-height: 1.1;
	text-align: left;
}
.use-this-paragraph-to-explain-the-purpose-of-the-p {
	width: 689px;
	height: 113px;
	color: #0844a4;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 25px;
	line-height: 1.5;
	text-align: left;
}
.gdsc {
	width: 840px;
	height: 767px;
	opacity: 40%
}
.rectangle-13 {
	width: 841px;
	height: 771px;
	padding: 8px 8px 8px 8px;
	opacity: 69%
	background: linear-gradient(to right, rgb(254, 254, 254) 0%, rgb(255, 255, 255) 0%, rgb(148, 154, 233) 0%, rgb(148, 170, 232) 2%, rgb(149, 233, 191) 58%, rgb(207, 149, 255) 98%, rgb(207, 149, 255) 99.26255841121495%, rgb(204, 152, 252) 100%, rgb(180, 230, 254) 100%);
	border-color: #ffffff;
	border-width: 1px;
	border-style: solid;
}
.rectangle-12 {
	width: 841px;
	height: 771px;
	padding: 8px 8px 8px 8px;
	background: #29323d;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.gdsc-page1-5 {
	width: 840px;
	height: 504px;
	opacity: 41%
}
.rectangle-14 {
	width: 841px;
	height: 504px;
	padding: 8px 8px 8px 8px;
	opacity: 69%
	background: linear-gradient(to right, rgb(254, 254, 254) 0%, rgb(255, 255, 255) 0%, rgb(148, 154, 233) 0%, rgb(148, 170, 232) 2%, rgb(149, 233, 191) 58%, rgb(207, 149, 255) 98%, rgb(207, 149, 255) 99.26255841121495%, rgb(204, 152, 252) 100%, rgb(180, 230, 254) 100%);
	border-color: #ffffff;
	border-width: 1px;
	border-style: solid;
}
.header-15 {
	width: 532px;
	height: 31px;
	color: #29323d;
	font-family: "Open Sans";
	font-weight: 800;
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
}
.paragraph-30 {
	width: 33px;
	height: 13px;
	color: #000000;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 11px;
	line-height: 1.1;
	text-align: left;
}
.text-input-1 {
	width: 225px;
	height: 28px;
	background: #ffffff;
	color: #000000;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12px;
	text-align: left;
}
.paragraph-31 {
	width: 77px;
	height: 13px;
	color: #29323d;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 11px;
	line-height: 1.1;
	text-align: left;
}
.text-input-2 {
	width: 225px;
	height: 28px;
	background: #ffffff;
	color: #29b6f6;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12px;
	text-align: left;
}
.paragraph-33 {
	width: 63px;
	height: 13px;
	color: #000000;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 11px;
	line-height: 1.1;
	text-align: left;
}
.text-input-3 {
	width: 469px;
	height: 99px;
	background: #ffffff;
	color: #29b6f6;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12px;
	text-align: left;
}
.survey-link {
	width: 71px;
	height: 13px;
	color: #000000;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 11px;
	line-height: 1.1;
	text-align: left;
}
.text-input-4 {
	width: 369px;
	height: 28px;
	background: #ffffff;
	color: #000000;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	border-radius: 14px 14px 14px 14px;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12px;
	text-align: left;
}
.button-4 {
	width: 85px;
	height: 26px;
	padding: 0px 10px 0px 10px;
	background: #80deea;
	color: #ffffff;
	border-color: #80deea;
	border-width: 1px;
	border-style: solid;
	border-radius: 9px 9px 9px 9px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 10px;
	text-align: center;
}
.checkbox-2 {
	width: 304px;
	height: 20px;
	background: #ffffff;
	color: #000000;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12px;
	text-decoration: underline;
	text-align: left;
}
.button-3 {
	width: 100px;
	height: 28px;
	padding: 0px 10px 0px 10px;
	background: #29323d;
	color: #ffffff;
	border-color: #29323d;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px 2px 2px 2px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 10px;
	text-align: center;
}

