@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #008080;
    --secondary-font-color: #c59d5f;
    --body-font-color: #00FFFF;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behaviour: smooth; 
    animation: color 9s infinite linear;
}

section{
    padding: 3.9rem 0;
}

img{
    width: 100%;
    max-width:100%;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width:100%;
    max-width: 122.5rem;
    margin:0 auto;
    padding: 0 2.4rem;
}
/*header*/
header{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}

.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color: #fff;
    font-size: 2.2 rem;
    position: absolute;
    top: 50;
    transform: translateY(-50%);
    right:2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times{
    display: none;
}

.fa-bars{
    display: block;
    color: #000000;
}

.nav-list{
    list-style: none;
    position: fixed;
    top:0;
    left:0;
    width:80;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding:4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav:before{
    content: '';
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item{
    border-bottom: 2px solid rgba(255,255,255, .3);
}

.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transform: color.5s;
}

.nav-link:hover{
    color: var(--secondary-font-color);
}



*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;

}
body
{
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    min-height: 100vh;
    background-color: #000000;

}
footer
{
    position: relative;
    width:100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

}
footer .social_icon,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px 0;
}
footer .social_icon li,
footer .menu li
{
    list-style: none;
}

footer .social_icon li a
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition:0.5s;
}
footer .social_icon li a:hover,
footer .menu li a:hover
{
    transform: translateY(-10px);

}
footer .menu li a
{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition:0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover
{
    opacity: 1;
}
footer p{
    color: #fff;
}
footer .wave
{
    position: absolute;
    top: -100px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}